[Unit]
Description=RV Thermostat
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/rv-thermostat
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONPATH=/home/pi/rv-thermostat/src"
ExecStart=/home/pi/rv-thermostat/.venv/bin/python /home/pi/rv-thermostat/apps/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
